@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "TestView";
}

<h2>TestView</h2>
<p>
    @if (Request.IsAuthenticated)
    {

        using (Html.BeginForm("submitTest", "Test", method: FormMethod.Post, htmlAttributes: new { id = "testForm", style = "border:1px black;margin:5px" }))
        {
            @Html.AntiForgeryToken()

            @User.Identity.AuthenticationType <text> - </text> @User.Identity.Name <text> - </text><a href="javascript:document.getElementById('testForm').submit()" class="btn btn-default">Submit</a>

        }
    }
    else
    {

        @Html.ActionLink("Login please", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })


    }
</p>